/* GolosText-Regular */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GolosText-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* GolosText-Medium */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GolosText-Medium.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* GolosText-SemiBold */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/GolosText-SemiBold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* GolosText-Bold */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/GolosText-Bold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Merriweather-Regular */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Merriweather-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Montserrat-Medium */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*---------- Базовые стили ----------*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    background-color: #FFFFFF;
    color: #313131;
    position: relative;
    overflow-x: hidden;
}

button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
p,
fieldset {
    margin: 0;
}

/*---------- Основные стили ----------*/
/*.visually-hidden {*/
/*    position: fixed;*/
/*    transform: scale(0);*/
/*}*/

.container {
    --width: 1220px;
    --padding: 30px;
    max-width: calc(var(--width) + (var(--padding) * 2));
    padding: 0 var(--padding);
    margin: 0 auto;
}

.title {
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
}

.btn {
    max-width: 263px;
    font-size: 16px;
    text-align: center;
    padding: 16px 47px;
    border-radius: 66px;
    transition: all .2s ease-in-out;
    border: 2px solid transparent;

}

.btn:hover:not(:disabled) {

}

.btn:active:not(:disabled) {

}

.btn:focus:not(:disabled) {

}

.btn:disabled {

}

.text-red {
    color: #f54932;
}

/*---------- Header start ----------*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.header__container {
    position: relative;
    padding-top: 26px;
}

.header__link {
    display: flex;
    gap: 6px;
}

.header__text {
    font-weight: 700;
    font-size: 16px;
    color: #595653;
    text-transform: uppercase;
}
/*---------- Header end ----------*/

/*---------- Hero start ----------*/
.hero {
    background-image: url("../img/hero-img.jpg"), url("../img/hero-bg.jpg");
    background-color: #E9DED4;
    background-repeat: no-repeat, repeat;
    background-position: top;
    padding: 124px 0 130px;
}

.hero__content {
    max-width: 542px;
}

.hero__title {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 24px;
}

.hero__title-center {
    display: block;
    text-align: center;
}

.hero__title-right {
    display: block;
    text-align: right;
}

.hero__text {
    max-width: 542px;
    text-align: center;
    margin-bottom: 40px;
}

.hero__btns {
    display: flex;
    gap: 16px;
}

.hero__btn-support {
     color: #fff;
     background-color: #1f1f1f;
}

.hero__btn-support:hover {
    color: #1f1f1f;
    background-color: #fbce51;
}

.hero__btn-more {
    color: #1f1f1f;
    background-color: transparent;
    border-color: #1f1f1f;
}

.hero__btn-more:hover {
    color: #fff;
    background-color: #1f1f1f;
}

/*---------- Footer start ----------*/
.footer {
    padding: 30px 0 32px;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    grid-template-areas:
        'logo .'
        'copyright developer';
}

.footer__logo {
    grid-area: logo;
}

.footer__copyright {
    grid-area: copyright;
}

.footer__developer {
    grid-area: developer;
    justify-self: end;
    min-width: 230px;
}

.footer__developer-item {
    margin-bottom: 10px;
}

.footer__developer-item:last-child {
    margin-bottom: 0;
}
/*---------- Footer end ----------*/
